@tailwind base;
@tailwind components;
@tailwind utilities;

*, body {
  padding: 0;
  margin: 0 auto;
  box-sizing: border-box;
  max-width: 1536px;
}


.venice-blue {
  background: #085078;
  background: -webkit-linear-gradient(to right, #85d8ce, #085078);
  background: linear-gradient(to right, #85d8ce, #085078);
}

.gradient-dark-blue {
  background: #085078;
}

.brush-stroke {
  position: relative;
  display: inline-block;
}

.brush-stroke::after {
  content: "";
  position: absolute;
  left: -5px;
  bottom: -5px;
  width: calc(100% + 10px);
  height: 10px;
  background-color: #085078;
  border-radius: 50%;
  z-index: -1;
  transform: scaleY(0.7);
}



@layer base {}



@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }
}
